* {
    margin: 0 auto;
}
body {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}
.content {
    position: relative;
    min-height: 600px;
}

/* Overlay (mientras cargan datos) */
.loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.15);
}

.loading-wheel {
    width: 20px;
    height: 20px;
    margin-top: -40px;
    margin-left: -40px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    border-width: 30px;
    border-radius: 50%;

    -webkit-animation: spin 2s linear infinite;
}

.style .loading-wheel {
    border-style: double;
    border-color: #ccc transparent;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

/* Contenido */
.content-first {
    display: none;
}

p {
    font-size: 16px;
    margin-bottom: 6px;
}

.title {
    text-align: center;
    margin-bottom: 16px;
}

/* Consideraciones previas */
.explanations {
    position: relative;

    box-sizing: border-box;
    width: 100%;
    padding: 8px 8px 30px 8px;
    background-color: #ffebeb;

    border-radius: 6px 6px 0 0;

    margin-bottom: 12px;
}

#showMore {
    display: none;    
}

.btn__show-more {
    position: absolute;
    cursor: pointer;

    width: 100%;
    height: 28px;
    bottom: 0px;
    left: 0px;
}

/* Formulario */
.form {
    margin: 0px auto;
    margin-bottom: 24px;
}

h3, .date__logics--radio {
    margin-bottom: 8px;
}

select {
    width: 100%;
    margin-bottom: 8px;
}

.form__countries, .form__xaxis {
    padding-bottom: 12px;
    border-bottom: 1px solid;
    margin-bottom: 12px;
}

.form__yaxis {
    margin-bottom: 24px;
}

.date__logics--picker .static-picker, .date__logics--picker .period-picker{
    display: none;
}

.date__logics--picker .static-picker.visible, .date__logics--picker .period-picker.visible{
    display: block;
}

.btn {
    display: block;
    padding: 6px;
    background-color:#4e7e7e;
    border: 0.16em solid rgba(255,255,255,0);
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
}
.btn:hover{
    border-color: rgba(0,0,0,0.75);
}

/* Visualización */
.results {
    width: 100%;
    height: auto;
}

.results .c-chart, .results .b-error {
    display: none;
}

.results .b-error {
    color: red;
}

.results .c-chart {
    margin-bottom: 8px;
}

.results .b-chart .chart {
    width: 100%;
    height: 375px;

    margin-bottom: 4px;
}

.chart__x-axis, .chart__y-axis {
    font-size: 18px;
    font-weight: bold;
}

.chart__x-axis {
    display: block;
    text-align: center;

    margin-bottom: 4px;
}

.chart .tick text {
    font-weight: 300;
    font-size: 12px;
    line-height: 10px;

    color: #A3A3A3;
}

.data-source {
    margin-bottom: 8px;
}

.results .elements {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;

    width: 100%;
    height: auto;
}

@media only screen and (max-width: 940px) {
    body {
        box-sizing: border-box;
        padding: 0px 16px;
    }
}